/Sophia/
/raw_data/
/inferences/
/pickles/
/checkpoints/
/wandb/
.DS_Store
/Archive/
test*
# /1. Pretraining/
/1. Pretraining/dataset_descriptors/
/1. Pretraining/datasets/
/1. Pretraining/model_weights/
/1. Pretraining/plots/html/
/1. Pretraining/plots/production/
/2. Generation/
/3. Sampling/
/4. DiffDock/
# /5. Scoring/
# /6. ActiveLearning/
/6. ActiveLearning/model_weights/
/autoencoder/
/pca_study/